.word-list-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.word-revert {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}